---
- name: history directory
  file:
    path: ~/.history
    state: directory
    mode: 0700

- when: vim_plugins
  block:
    - name: Vim plugins directory
      file:
        path: ~/.vim/bundle
        state: directory
        mode: 0700
    - name: Vim plugins
      git:
        dest: '~/.vim/bundle/{{ item.name }}'
        repo: '{{ item.repo }}'
        update: '{{ update_vim_plugins }}'
        force: '{{ update_vim_plugins }}'
      loop: '{{ vim_plugins }}'

- name: Bring over my dotfiles
  git:
    dest: '~/.dotfiles'
    repo: '{{ dotfiles_repo }}'
    update: '{{ update_dotfiles }}'
    force: '{{ update_dotfiles }}'

- name: rsync '~/.dotfiles' -> '~'
  synchronize:
    src: '~/.dotfiles/'
    dest: '~'
    archive: false
    recursive: true
    perms: true
    links: true
    times: true
    rsync_opts:
      - '--exclude=.git'
      - '--exclude=LICENSE'
      - '--exclude=*.md'
