---
#
# Security
#
- name: Disable Password Hints at Login
  osx_defaults: domain=com.apple.loginwindow key=RetriesUntilHint type=int value=0

- name: Require password immediately after sleep or screen saver
  osx_defaults: domain=com.apple.screensaver key={{ item.name }} type=int value={{ item.value }}
  loop: [{ name: askForPassword, value: 1 }, { name: askForPasswordDelay, value: 5 }]

- name: Upper-Left Corner -> Screen Saver
  osx_defaults: domain=com.apple.dock key={{ item.name }} type=int value={{ item.value }}
  loop: [{ name: wvous-tl-corner, value: 5 }, { name: wvous-tl-modifier, value: 0 }]

#
# Usability
#
- name: Do NOT use smart quotes and dashes
  osx_defaults: key={{ item }} type=bool value=false
  loop: [ NSAutomaticDashSubstitutionEnabled, NSAutomaticQuoteSubstitutionEnabled ]

- name: Full Keyboard Access
  osx_defaults: key=AppleKeyboardUIMode type=int value=0

- name: Keyboard repeat rate
  osx_defaults: key={{ item.name }} type=int value={{ item.value }}
  loop: [{ name: InitialKeyRepeat, value: 20 }, { name: KeyRepeat, value: 1 }]

- name: Disable auto-correct
  osx_defaults: key=NSAutomaticSpellingCorrectionEnabled type=bool value=false

- name: Zoom
  ignore_errors: yes
  osx_defaults:
    domain: com.apple.universalaccess
    key: '{{ item.name }}'
    type: '{{ item.type }}'
    value: '{{ item.value }}'
  loop:
    - { name: closeViewScrollWheelToggle, type: bool, value: true }
    - { name: HIDScrollZoomModifierMask, type: int, value: 262144 }
    - { name: closeViewPanningMode, type: int, value: 0 }
    - { name: closeViewScrollWheelModifiersInt, type: int, value: 262144 }
    - { name: closeViewZoomFollowsFocus, type: bool, value: false }
    - { name: speakItemUnderMouseAfterDelayMode, type: int, value: 0 }

#
# Color theme
#
- name: Color Theme
  osx_defaults:
    key: '{{ item.name }}'
    type: '{{ item.type }}'
    value: '{{ item.value }}'
  loop:
    - { name: AppleInterfaceStyle, type: string,  value: Dark }
    - { name: AppleHighlightColor, type: string, value: '0.752941 0.964706 0.678431 Green' }
    - { name: AppleAquaColorVariant, type: int, value: 6 }

#
# Siri
#
- name: Siri
  osx_defaults:
    domain: com.apple.assistant.support
    key: '{{ item.name }}'
    type: bool
    value: '{{ item.value }}'
  loop:
    - { name: 'Assistant Enabled', value: false }
    - { name: StatusMenuVisible, value: false }

#
# Screenshots
#
- name: Screenshot format
  osx_defaults: domain=com.apple.screencapture key=type value=png

#
# Dock
#
- name: Dock settings
  osx_defaults:
    domain: com.apple.dock
    key: '{{ item.name }}'
    type: '{{ item.type }}'
    value: '{{ item.value }}'
  loop:
    - { name: tilesize, type: float, value: 35 }
    - { name: largesize, type: float, value: 66 }
    - { name: magnification, type: bool, value: true }
    - { name: mineffect, type: string, value: genie }
    - { name: autohide, type: bool, value: true }
    - { name: orientation, type: string, value: left }
    - { name: persistent-apps, type: array, value: [] }

#
# VLC
#
- name: VLC settings
  osx_defaults:
    domain: org.videolan.vlc
    key: '{{ item.name }}'
    type: '{{ item.type }}'
    value: '{{ item.value }}'
  loop:
    - { name: AppleTextDirection, type: bool, value: false }
    - { name: NSForceRightToLeftWritingDirection, type: bool, value: false }
    - { name: language, type: string, value: en }
    - { name: SUEnableAutomaticChecks, type: bool, value: false }
    - { name: SUHasLaunchedBefore, type: bool, value: true }
    - { name: 'NSStatusItem Visible statusBarItem', type: bool, value: false }

#
# Transmission
#
- name: Transmission settings
  osx_defaults:
    domain: org.m0k.transmission
    key: '{{ item.name }}'
    type: bool
    value: '{{ item.value }}'
  loop:
    - { name: AutoImport, value: true }
    - { name: DeleteOriginalTorrent, value: true }
    - { name: DownloadAsk, value: false }
    - { name: DownloadLocationConstant, value: true }
    - { name: InfoVisible, value: false }
    - { name: MagnetOpenAsk, value: false }
    - { name: WarningLegal, value: false }
    - { name: WarningDonate, value: false }

- name: Transmission settings [directories]
  osx_defaults:
    domain: org.m0k.transmission
    key: '{{ item }}'
    value: /_downloads
  loop: [ AutoImportDirectory, NSNavLastRootDirectory, DownloadFolder ]

#
# Accessibility
#
- name: Reduce motion
  osx_defaults:
    domain: com.apple.universalaccess
    key: reduceMotion
    type: bool
    value: true

# TODO:
# Language & Region
# Software Update
# Accessibility (is this even possible?)
# Energy Saver
# Night Shift
# Sharing
#  - Computer Name
#  - Remote Login
# Keyboard
#  - Caps Lock -> Control
#  - Control -> Escape
